@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Madimi+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  background-image: url(../assets/images/pinepine.jpg);
  background-position: center;
  background-size: cover;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  min-height: 100vh;
  margin: 0;
}
main {
  text-align: center;
  flex: 1;
  padding: 0 15px;
}
h1 {
  color: #fff;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #a683e3;
  text-align: center;
}
form.edit {
  display: flex;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

.item:last-child {
  border-bottom: 0;
}

input[type="checkbox"] {
  margin: 20px;
  margin-left: 0;
}

p {
  margin: 0;
  padding: 20px 0;
  font-size: 20px;
  color: #00204a;
}

form {
  text-align: center;
}

#form-noUsers {
  text-align: center;
  margin: 0;
}
button.add {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #a683e3;
  color: #fff;
  font-size: 30px;
  border-width: 0;
  cursor: pointer;
}

button.add:hover {
  background-color: #8b6cbf;
}

button.edit {
  margin-left: 0px;
  margin-right: 20px;
  border: none;
  background: none;
  cursor: pointer;
}

.icon {
  height: 20px;
}

input[type="text"] {
  text-align: left;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 80%;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #a683e3;
}

::placeholder {
  color: lightgray;
  opacity: 1;
}

.tab-view > label {
  position: relative;
  display: inline-block;
  min-width: 60px;
  margin: 0px 7px 0 7px;
  padding: 10px;
  border-radius: 12px;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.1s;
  -o-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.tab-view > label:hover {
  transition: ease-out 0.5s;
  box-shadow: -12px 6px 2px 1px rgba(0, 0, 0, 0.2);
  border: none;
  color: white;
}
.tab-view > input {
  display: none;
}
.box {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
footer {
  flex: 0 0 auto;
  color: white;
  text-align: center;
  width: 100%;
  background-color: rgb(38, 38, 38);
}

#addMember {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#addMember > h1 {
  font-family: "Madimi One", sans-serif;
  font-size: 30px;
  color: rgb(38, 38, 38);
}
#addMember > form {
  margin: 10px;
  padding: 20px;
  max-width: 70%;
  background-color: rgb(242, 231, 231);
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
input#nameId {
  border-radius: 12px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.btns {
  display: inline-block;
  padding: 10px;
  margin: 15px 0;
  border-radius: 12px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  width: 90px;
  height: 40px;
  font-size: 17px;
  margin-right: 5px;

  box-sizing: border-box;
}
#btnAdd {
  background-color: #52b963;
  cursor: pointer;
  color: white;
}
#cancelMember {
  text-decoration: none;
  color: white;
  background-color: #f00;
  line-height: 19px;
}
#cancelMember:hover {
  background-color: rgb(215, 2, 2);
}
#btnAdd:hover {
  background-color: #459c54;
}
#deleteMember {
  margin-bottom: 3.5rem;
  padding: 15px;
  font-size: 16px;
  border-radius: 12px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-color: #f00;
  color: #fff;
  cursor: pointer;
}

#deleteMember:hover {
  background-color: rgb(215, 2, 2);
}
#noUsersPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;
}
#noUsersMessage {
  font-size: 25px;
}
input[type="radio"] {
  display: none;
}
input[type="radio"]:checked + label span {
  transform: scale(1.25);
}
input[type="radio"]:checked + label .red {
  border: 2px solid #711313;
}
input[type="radio"]:checked + label .orange {
  border: 2px solid #873a08;
}
input[type="radio"]:checked + label .yellow {
  border: 2px solid #816102;
}
input[type="radio"]:checked + label .olive {
  border: 2px solid #505a0b;
}
input[type="radio"]:checked + label .green {
  border: 2px solid #0e4e1d;
}
input[type="radio"]:checked + label .teal {
  border: 2px solid #003633;
}
input[type="radio"]:checked + label .blue {
  border: 2px solid #103f62;
}
input[type="radio"]:checked + label .violet {
  border: 2px solid #321a64;
}
input[type="radio"]:checked + label .purple {
  border: 2px solid #501962;
}
input[type="radio"]:checked + label .pink {
  border: 2px solid #851554;
}
label {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  cursor: pointer;
}
label:hover span {
  transform: scale(1.25);
}
label span {
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease-in-out;
}
label span.red {
  background: #db2828;
}
label span.orange {
  background: #f2711c;
}
label span.yellow {
  background: #fbbd08;
}
label span.olive {
  background: #b5cc18;
}
label span.green {
  background: #21ba45;
}
label span.teal {
  background: #00b5ad;
}
label span.blue {
  background: #2185d0;
}
label span.violet {
  background: #6435c9;
}
label span.purple {
  background: #a333c8;
}
label span.pink {
  background: #e03997;
}
nav {
  padding: 10px 20px;
  margin-bottom: 10px;
}
img {
  width: 70px;
  height: 60px;
}
@media screen and (max-width: 500px) {
  nav {
    text-align: center;
  }
}
